.login-container {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.login-container form {
    display: flex;
    flex-direction: column;

    justify-content: space-around;

    width: 300px;
    height: 200px;

    margin: auto;
}

.login-container-item {
    display: flex;
    flex-direction: column;

    margin-bottom: 20px;
}

.login-container input {
    height: 30px;
    padding: 10px;

    background: white !important;
    color: black !important;
}

