.idea
.env
.env.local
.DS_Store
*/.DS_Store

###> symfony/framework-bundle ###
/backend/.env.local
/backend/.env.local.php
/backend/.env.*.local
/backend/config/secrets/prod/prod.decrypt.private.php
/backend/public/bundles/
/backend/var/
/backend/vendor/
/backend/migrations/*
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/backend/phpunit.xml
/backend/.phpunit.result.cache
###< phpunit/phpunit ###


/backend/postgres_data
/backend/config/jwt



/frontend/node_modules
/frontend/tochkarik/.env

/docker/volumes/logs/nginx/error.log
/docker/volumes/logs/nginx/access.log
