.home-container {
    height: 890px;
}

.home-container {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.controls-container {
    width: 90%;
    margin: auto;
}

.controls-container input {
    width: 100%;
    margin: auto;
}

