body {
  height: 100vh;
}

body, #root  {
  display: block !important;
  width: 100%;
}



.root-container {
  display: flex;
  flex-direction: column;

}

@media only screen and (min-width: 992px) {
  .root-container {
    width: 470px;

    margin: auto;
    color: red;
  }
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}