* {
  /*color: white;*/
}

body {
  height: 100vh;
}

body, #root  {
  display: block !important;
  width: 100%;
  background: black;

}

#root {
  color: white;
  height: 100vh;
}



.root-container {
  display: flex;
  flex-direction: column;

}

@media only screen and (min-width: 992px) {
  .root-container {
    width: 470px;

    margin: auto;
  }
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}