.register-container {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.register-container form {
    display: flex;
    flex-direction: column;

    justify-content: space-around;

    width: 300px;
    height: 200px;

    margin: auto;
}


.register-container-item {
    display: flex;
    flex-direction: column;

    margin-bottom: 20px;
}

.register-container-item input {
    height: 30px;
    padding: 10px;

    background: #1c2432 !important;
    color: white !important;
}
